<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="LockKeysIndicator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <LockKeysIndicator.Properties.Settings>
            <setting name="Language" serializeAs="String">
                <value />
            </setting>
            <setting name="KeysToIndicate" serializeAs="String">
                <value>NUM,CAPS,SCROLL</value>
            </setting>
            <setting name="IndicationDisabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LocationOnScreen" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="Effects" serializeAs="String">
                <value>TRANSPARENCY,FADE,BLENDING</value>
            </setting>
        </LockKeysIndicator.Properties.Settings>
    </userSettings>
</configuration>